* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 1024px;
    height: 576px;
    border: 2px solid white;
}

.menu-background {
    background-image: url("./images/fox.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 20px;
}
